/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');

/* common styles */
body{
    font-family: 'Roboto Slab', serif;
}
#banner .carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 0);
}
#banner .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 0%;
    left: 0%;
    top: 0%;
    padding-top: 9%;
    padding-bottom: 1.25rem;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}
#banner .btn a{
    text-decoration: none;
    color: black;
}